/dist/
src/java/db.properties
src/java/mail.properties
/build/
web/StatPages/media/
web/WEB-INF/db.properties/
web/WEB-INF/mail.properties
web/StatPages/tests/
web/StatPages/dummy.html
web/PageServes/tests/