*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: url("../media/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
main {
    overflow: hidden;
}
.header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(to right, transparent, white, transparent);
    border-image-slice: 1;
}
.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 650;
    filter: drop-shadow(0 0 5px #09001d);
}
.navbar a{
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 250;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{
    color: #a90799;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    height: calc(100vh - 90px); /* View height - header */
    margin-top: 90px; /* Same as the header height */
    padding-top: 100px;
    padding-bottom: 50px;
}
.form-box {
    border: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    padding: 20px;
    width: 20%;
    background-color: rgb(238, 214, 228);
    border-radius: 10px;
}
.form-box h2 {
    text-align: center;
}
.form-box-links {
    text-align: right; 
    line-height: 150%;
}
.form-box a{
    color: rgb(0, 0, 255);
}
.form-box a:hover{
    color: #a90799;
}
#form-login-container {
    width: 30%;
}
.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-group label {
    width: 40%;
}
.input-group input {
    width: 60%;
}
input {
    padding: 3px;
    border-radius: 3px;
    border: 1px solid white;
}
select {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
  }
.button-group {
    justify-content: flex-end;
}
.button-group button {
    width: auto;
    margin-left: 60px;
}
.radio-group {
    justify-content: space-between;
}
.radio-group input {
    width: auto;
    margin-left: 60px;
}
.button-80 {
    background: #e0dfdf;
    background: #c40094;
    box-shadow: 0 0 10px #c4009360;
    outline: none;
    border: 1px solid #212121;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    transition: transform .2s;
}
.button-80:hover {
    transform: scale(1.02);
}
.button-80:active {
    transform: scale(1.02) translateY(1px);
}
.button-80:focus {
    outline: none;
}
main {
    padding: 20px;
    margin-top: 90px;
}
.table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    overflow-x: auto;
}
.table-container h2 {
    margin-bottom: 20px;
}
.table-container table {
    width: 100%;
    border-collapse: collapse;
}
.table-container th,
.table-container td {
    padding: 10px 20px;
    border: 1px solid #ddd;
    text-align: left;
}
.table-container th {
    background-color: #8dff7b;
    color: #333333;
}
.table-container td a {
    color: rgb(0, 0, 255);
    text-decoration: none;    
}
.table-container td a:hover {
    text-decoration: underline;
    color: #a90799;
}
search-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
}
.search-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.search-container select {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
}
.search-container input[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #20ab4a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.search-container input[type="submit"]:hover {
    background-color: #1a753b;
}
.result-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
}
.result-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.result-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.result-container th, .result-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.result-container th {
    background-color: #f8f9fa;
    color: #333;
}
.result-container label {
    margin-right: 10px;
}
.result-container input[type="number"] {
    width: 50px;
    height: 30px;
    margin-right: 10px;
}
.result-container input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}
.result-container input[type="submit"]:hover {
    background-color: #0056b3;
}