@font-face {
    font-family: Vonique;
    src: url(fonts/Vonique\ 43_D.otf);
}
@font-face {
    font-family: VanillaRavioli;
    src: url(fonts/VanillaRavioli.ttf);
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(media/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.header {
    text-align: center;
    font-family: VanillaRavioli;
    background-color: azure;                                    
    padding-top: 1px;
    position: relative;
    height: 10vh;
    font-size: large;
}
.heading-image {
    width: auto;
    height: 100%;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.form-box {
    border: 3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    padding: 20px;
    width: 20%;
    background-color: rgb(252, 252, 216);
    border-radius: 10px;
}
.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-group label {
    width: 40%;
}
.input-group input {
    width: 60%;
}
.button-group {
    justify-content: flex-end;
}

.button-group button {
    width: auto;
    margin-left: 60px;
}
.radio-group {
    justify-content: space-between;
}
.radio-group input {
    width: auto;
    margin-left: 60px;
}
.container {
    display: flex;
    padding: 20px;
    height: 90vh;
    align-items: start;
}
.sidebar {
    width: 15%;
    padding: 15px;
    height: 100%;
    background-color: rgba(240, 248, 255, 0.5);
}
.main {
    width: 83%;
    height: 100%;
    padding: 20px;
    background-color: rgba(178, 185, 191, 0.5);
}
.sub-container {
    display: flex;
    align-items: start;
}
.sub-container img {
    height: 400px;
    width: 400px;
}
.sub-container p {
    padding: 20px;
    line-height: 150%;
}
.box {
    flex: 1;
    border: 1px solid #000;
    margin: 0 10px;
    padding: 20px;
    text-align: center;
    background-color: rgba(179, 243, 245, 0.9);
}
.box h2 {
    margin-bottom: 20px;
}
.box button {
    padding: 10px 20px;
    font-size: 16px;
}
.button-80 {
    background: #e0dfdf;
    border: 1px solid #212121;
    border-radius: 3px;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 0.8rem;
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    transition: transform .2s;
  }
  
  .button-80:hover {
    transform: scale(1.02);
  }
  
  .button-80:active {
    transform: scale(1.02) translateY(1px);
  }
  
  .button-80:focus {
    outline: none;
  }
  
